*{
    box-sizing: border-box;
    padding: 5px;
}

body {
    background-color:rgba(133, 130, 130, 0.925) 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px, 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(182, 159, 159);
    color: cornsilk;
}
.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px
}

.image {
    height: 200px;
}


.self-portriat {
    display: block;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 70px;
    float: right;
    box-shadow: 4px 4px 2px 1px rgba(0,0,0,0.2);
}

.section {
    align-items: left;
    padding-top: 100px;
    display: left;
}

.about-me{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
}


#projects img {
height: 300px;
filter: grayscale(90%);
transition: filter 1s ease-in-out;

}

#projects img:hover{
    filter: none;
}

.contact-me {
    font-size: 20px;
    border-radius: 20px;
}

.footer{
    margin-top: 50px;
}