*{
    box-sizing: border-box;
    margin: 5;
    padding: 5;
}

body {
    background-color:rgba(133, 130, 130, 0.925) 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px, 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(182, 159, 159);
    color: cornsilk;
}
.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px
}

.computer {
    height: 300px;
    margin-bottom: 10px;
    justify-content: left;
    background-image: url("./Assets/computer-img.webp");
}
